.order {
    position: relative;
    padding-top: 20px;
}
.order__top {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 20px;
    letter-spacing: 0.03em;
    color: #fff;
    text-align: left;
    cursor: pointer;
}
.order__top img {
    width: 24px;
    height: 24px;
}